@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWebAdmin.cshtml";
    string baslik = string.Empty;
}
<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    @if (ViewBag.Mesaj != null)
                    {
                        baslik = " Kullanicidan Gelen Mesajlar" + "-" + " " + " " + "Kayıt Sayısı:" + ViewBag.Mesaj.Count.ToString();
                    }
                    else
                    {
                        baslik = "Kullanicidan Gelen Mesajlar" + "-" + "Kayıt Sayısı:0";
                    }
                    @baslik

                </header>
                <div class="panel-body">
                    <section id="unseen">
                        <div class="adv-table">
                            <table class="table table-bordered table-striped table-condensed" id="TblVeriler" style="font-size:13px;margin-top:5px">
                                <thead>
                                    <tr>
                                        <th>Adı Soyadı</th>
                                        <th>E-Posta Adresi</th>
                                        <th>Metin</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.Mesaj != null)
                                    {
                                        @foreach (var item in ViewBag.Mesaj)
                                        {
                                            <tr>

                                           
                                                <td>
                                                    @Html.Raw(item.AdSoyadi)
                                                </td>
                                                <td>
                                                    @Html.Raw(item.Email)
                                                </td>
                                                <td>
                                                    @Html.Raw(item.Mesaj)
                                                </td>
                                            
                                                <td>
                                                    <a class="btn btn-primary btn-xs" href="/AdminKullaniciMesaj/Guncelle/@item.Id"><i class="icon-pencil"></i></a>

                                                    <a class="btn btn-danger btn-xs" href="/AdminKullaniciMesaj/Sil/@item.Id"><i class="icon-trash "></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
</section>

