@{
    ViewData["Title"] = "Hizmetlerimiz";
    Layout = "~/Views/Shared/_LayoutWebUI.cshtml";
}

<main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <h1 class="mb-2 mb-lg-0">Hizmetlerimiz</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/Home">Ana Sayfa</a></li>
                    <li class="current">Hizmetlerimiz</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->

    <!-- Services Section -->
    <section id="services" class="services section">

        <div class="container">

            <div class="row gy-4">

                <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item d-flex position-relative h-100">
                        <i class="bi bi-briefcase icon flex-shrink-0"></i>
                        <div>
                            <h4 class="title"><a href="/ServicesDetails?service=boya-badana" class="stretched-link">Boya Badana</a></h4>
                            <p class="description">Kalabalık ekibimizle yaşam alanlarınızı yeniden boyuyor, rötuşlar ve tadilatlar yapıyoruz.</p>
                        </div>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-item d-flex position-relative h-100">
                        <i class="bi bi-card-checklist icon flex-shrink-0"></i>
                        <div>
                            <h4 class="title"><a href="/ServicesDetails?service=tadilat-tamirat" class="stretched-link">Tadilat Tamirat</a></h4>
                            <p class="description">Uygun bütçelerle duvar onarımı ve küçük ölçekli tadilat işlemleri gerçekleştiriyoruz.</p>
                        </div>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-item d-flex position-relative h-100">
                        <i class="bi bi-bar-chart icon flex-shrink-0"></i>
                        <div>
                            <h4 class="title"><a href="/ServicesDetails?service=fayans-doseme" class="stretched-link">Fayans Döşeme</a></h4>
                            <p class="description">Estetik ve dayanıklı fayans ve seramik döşeme ile mekanlarınızı yeniliyoruz.</p>
                        </div>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-item d-flex position-relative h-100">
                        <i class="bi bi-binoculars icon flex-shrink-0"></i>
                        <div>
                            <h4 class="title"><a href="/ServicesDetails?service=alci-siva-kartonpiyer" class="stretched-link">Alçı Sıva Kartonpiyer</a></h4>
                            <p class="description">Pürüzsüz yüzeyler ve dekoratif kartonpiyerlerle iç mekanlara şıklık katıyoruz.</p>
                        </div>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="service-item d-flex position-relative h-100">
                        <i class="bi bi-brightness-high icon flex-shrink-0"></i>
                        <div>
                            <h4 class="title"><a href="/ServicesDetails?service=mutfak-tezgahi" class="stretched-link">Mutfak Tezgahı</a></h4>
                            <p class="description">Modern ve kullanışlı mutfak tezgahlarıyla yaşam alanlarınızı yeniliyoruz.</p>
                        </div>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-item d-flex position-relative h-100">
                        <i class="bi bi-calendar4-week icon flex-shrink-0"></i>
                        <div>
                            <h4 class="title"><a href="/ServicesDetails?service=cevre-duzenleme-kilit-parke" class="stretched-link">Çevre Düzenleme Kilit Parke</a></h4>
                            <p class="description">Estetik kilit taşı ve bordür döşemesi ile dış mekanları güzelleştiriyoruz.</p>
                        </div>
                    </div>
                </div><!-- End Service Item -->
                
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-item d-flex position-relative h-100">
                        <i class="bi bi-calendar4-week icon flex-shrink-0"></i>
                        <div>
                            <h4 class="title"><a href="/ServicesDetails?service=dis-cephe-mantolama" class="stretched-link">Dış Cephe Mantolama</a></h4>
                            <p class="description">Enerji tasarrufu sağlayan dış cephe mantolama ile binalarınızı koruyoruz.</p>
                        </div>
                    </div>
                </div><!-- End Service Item -->

            </div>

        </div>

    </section><!-- /Services Section -->

    <!-- Features Section -->
    <section id="features" class="features section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Özellikler</h2>
            <p>Öne Çıkan Özelliklerimiz<br></p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-bs-toggle="tab" href="#features-tab-1">Kalite</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#features-tab-2">Güven</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#features-tab-3">Tecrübe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#features-tab-4">Müşteri Memnuniyeti</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#features-tab-5">Yenilikçilik</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9 mt-4 mt-lg-0">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="features-tab-1">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Yüksek Kalite Standartları</h3>
                                    <p class="fst-italic">Projelerimizde en kaliteli malzemeleri kullanarak uzun ömürlü ve dayanıklı çözümler sunuyoruz.</p>
                                    <p>İşçiliğimizde gösterdiğimiz özen ve detaylara verdiğimiz önem, projelerimizin kalitesini en üst seviyeye taşır.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="/WebUITheme/assets/img/tabs/tab-1.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="features-tab-2">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Koşulsuz Güven</h3>
                                    <p class="fst-italic">Müşterilerimizle şeffaf bir iletişim kurarak projelerin her aşamasında güvene dayalı bir ilişki inşa ediyoruz.</p>
                                    <p>Verdiğimiz sözlerin arkasında durarak, taahhüt ettiğimiz zamanda ve bütçede projeleri tamamlıyoruz.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="/WebUITheme/assets/img/tabs/tab-2.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="features-tab-3">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Yılların Tecrübesi</h3>
                                    <p class="fst-italic">Sektördeki uzun yıllara dayanan tecrübemizle, her türlü projeye uygun çözümler üretiyoruz.</p>
                                    <p>Karşılaşılabilecek zorluklara karşı hazırlıklıyız ve tecrübemizle en karmaşık projelerin bile üstesinden geliyoruz.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="/WebUITheme/assets/img/tabs/tab-3.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="features-tab-4">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Önceliğimiz Müşteri Memnuniyeti</h3>
                                    <p class="fst-italic">Müşterilerimizin beklentilerini aşmayı hedefleyerek, her projede memnuniyeti en üst düzeyde tutuyoruz.</p>
                                    <p>Proje sonrası destek hizmetlerimizle de müşterilerimizin her zaman yanında olmaya devam ediyoruz.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="/WebUITheme/assets/img/tabs/tab-4.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="features-tab-5">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Yenilikçi Çözümler</h3>
                                    <p class="fst-italic">Sektördeki en son teknolojileri ve yenilikleri takip ederek, projelerimize modern ve verimli çözümler entegre ediyoruz.</p>
                                    <p>Sürdürülebilir ve çevre dostu uygulamalarla geleceğe değer katıyoruz.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="/WebUITheme/assets/img/tabs/tab-5.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section><!-- /Features Section -->

</main>
